* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 50%);



    .stars {
        height: 150px;
        width: 500px;
        text-align: center;

        input {
            display: none;

            &:checked~label {
                color: gold;
                text-shadow: 1px 1px #c60;
            }

            &:checked>label:hover,
            &:checked>label:hover~label {
                color: gold;
                text-shadow: 1px 1px goldenrod;

            }

            &:checked ~ .result::before {
                display: block;
            }
        }

        label {
            float: right;
            font-size: 100px;
            color: lightgray;
            margin: 0 5px;
            text-shadow: 1px 1px #bbb;

            &::before {
                content: '★';

            }
        }

        &:not(:checked)>label:hover,
        &:not(:checked)>label:hover~label {
            color: gold;
        }

        .result::before {
            position: absolute;
            content: '';
            left: 50%;
            transform: translateX(-50%);
            bottom: -30%;
            font-size: 35px;
            font-weight: 500;
            font-family: sans-serif;
            color: gold;
            display: none;
        }

        #five:checked ~.result::before{
            content: "Amei❤️";
        }

        #four:checked ~.result::before{
            content: "Gostei 😊";
        }

        #three:checked ~.result::before{
            content: "Bom";
        }

        #two:checked ~.result::before{
            content: "Não gostei😔";
        }

        #one:checked ~.result::before{
            content: "Ruim demais";
        }
    }


}